// Colors
$primary-color: #466b75;
$secondary-color: #993d3d;
$dark-color: #332929;
$greys: #eeeeee;

$information: green;
$error: red;
$warning: $error;
$success: green;

$background: $greys;
$main-content: ligthen($greys, 30%);

// Breakpoints
$max-width: 90rem;
$large-bp: 80rem;
$medium-bp: 64rem;
$small-bp: 48rem;
$xs-bp: 42.375rem;

// Grid Vars
$column-count: 12;
$gutter: 1em;
$vertical-marg: 1em;

// Typography vars
$text-color: $dark-color;
$link-color: $primary-color;
$hr-color: darken($greys, 10%);
$muted-text-color: lighten($dark-color, 40%);

$baseline: 1.5em;

$text-small-size: .85em;
$font-weight-thin: 300;
$font-weight-bold: 400;
$body-font-weight: $font-weight-bold;
$font-weight-bolder: 700;

$body-font-family: 'Lato',sans-serif;

$heading-font-family: $body-font-family;
$heading-font-weight: $font-weight-thin;

$h1-min-size:2.798em;
$h1-size:3.998em;
$h2-min-size:1.978em;
$h2-size:2.827em;
$h3-min-size:1.399em;
$h3-size:1.999em;
$h4-min-size:1em;
$h4-size:1.414em;
$h5-size:1em;
$h6-size:0.707em;

$list-style-default: circle;

// Button vars

$btn-round: 0;
$btn-small-font-size: $h6-size;
$btn-large-font-size: $h3-size;

$btn-default-bg: darken($greys, 10%);
$btn-default-text-color: darken($greys, 80%);

$btn-primary-bg: $primary-color;
$btn-primary-text-color: lighten($primary-color, 50%);

$btn-secondary-bg: $secondary-color;
$btn-secondary-text-color: lighten($secondary-color, 50%);

// Forms vars
$field-border-color: darken($greys,10%);
$field-error-color: red;
$field-required-color: lighten($field-error-color, 5%);

// icons vars
$icon-color: $link-color;
$icon-list-bg: lighten($greys,5%);

// Feedback
$information-color: $information;
$error-color: $error;
$warning-color: $warning;
$success-color: $success;

// Tables vars
$table-heading-color: $primary-color;
$table-border: lighten($primary-color, 30%);

// Top nav
$topnav-bg: darken($primary-color, 30%);
$topnav-link-color: lighten($primary-color, 70%);
$topnav-submenu-bg: darken($topnav-bg, 5%);
$topnav-min-width: 14em;
$topnav-bp: $small-bp;

// Other Menus

$vm-link-color: $topnav-link-color;
$vm-bg: $topnav-bg;
$vm-submenu-bg: $topnav-submenu-bg;
$vm-bp: $small-bp;

$horizontal-bg: lighten($greys,3%);
$horizontal-link-color: $link-color;

$pagination-bg: $horizontal-bg;
$pagination-link-color: $text-color;

// Tabs variables
$tabs-border-color: $greys;
$tabs-inactive-bg-color: lighten($tabs-border-color, 2%);
$tabs-active-bg-color: lighten($tabs-border-color, 5%);
$tabs-active-text-color: $link-color;

// Accordion Variables

$accordion-border-color: $tabs-border-color;
$accordion-inactive-bg-color: $tabs-inactive-bg-color;
$accordion-active-bg-color: $tabs-active-bg-color;
$accordion-active-text-color: $tabs-active-text-color;

// ribbon vars
$ribbon-font-size: $h4-size;
$ribbon-font-bg-top: lighten($primary-color, 30%);
$ribbon-font-bg-bottom: darken($ribbon-font-bg-top, 11%);

// Sticky footer variables
$sticky-footer-height: 5rem;
$sticky-footer-bg: darken($greys, 10%);

// Grid Blok vars
$grid-block-bp: $xs-bp;

$gallery-thumbnail-roundness : 0.1875rem;
$gallery-border-color: lighten($link-color, 30%);
$gallery-image-icon: "\f0d8";
$gallery-video-icon: "\f01d";

