.cycle-slideshow {
	position: relative;

	.cycle-prev,
	.cycle-next {
		background-color: rgba(255,255,255,.5);
		display: inline-block;
		height: $baseline*2;
		margin-top:$baseline;
		width: $baseline*2;
		position: absolute;
		top: 50%;
		z-index: 1000;
		text-align: center;
		font-size: $baseline;
		line-height: $baseline*2;
		cursor: pointer;

		&:hover {
			background-color: rgba(255,255,255,.9)
		}

	}

	.cycle-next {
		right: 0;
	}

	.cycle-right {
		left:0;
	}

	.cycle-caption {
		margin: $baseline 0;
		text-align: center;
	}
}